.page-body {
    margin: 0;
    min-width: 320;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
    margin-right: auto;
     /* IE6, IE7 */
}

.container {
    padding-left: 30;
    padding-right: 30;
    max-width: 1150;
    margin-left: auto;
    margin-right: auto;
    
}

.page-header__nav {
    position: relative;
    display: flex;
    justify-content: center;   
}

.navigation__toggle {
    position: absolute;
    right: 31;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    background-color: transparent;
    padding: 0;
    width: 40;
    height: 28;
    background-image: url(../img/icon-header/menu.svg);
    background-size: 20 14;
    background-position: right center;
}

.navigation__list {
    list-style: none;
    display: none;
}

.main-top {
background-image: url(//img/hero-desktop.jpg);

}


.features-list {
    list-style: none;
}
.main-list {
    background-color: #56C3B2;
    color: #FFFFFF;
    list-style: none;
}
.footer-list {
    list-style: none;
}
.main-navigation li a {
    color: black;
    text-decoration: none;
}
.main-list a {
    color: #FFFFFF;
    text-decoration: none;
}
.footer-list a {
    text-decoration: none
}